{% extends 'base.html' %}
{% load bootstrap_tags %}
{% load static from staticfiles %}
{% block content %}
<body>
    
    
<div class="about">
    
<h1><b>About Us</b></h1><br>
<p>Megan's Antiques is a new modish antiques dealership that was founded in 2017 which allows you to see thousands of genuine antiques from our trusted dealers. Be confident browsing and purchasing, as our friendly antique dealers are here to help with any questions on listed items. Megan's Antiques are proud to offer some of the best antiques throughout the web. We sell items at all different prices. Please note the price offered online will be the sale price of the item, we do not dispute on prices (Discounts from Megan's Antiques Official Site or our Fairs Team can be used on purchases). 
Our products team spend their time searching for unique antiques to sell on our website. Every month we add more items to our website so be sure to keep up to date with the latest antiques! We also have our Fairs team that is dedicated to bringing Megan's Antiques to Antiques & Collectors Fairs all over the UK. 
If you are a dealer and would like to advertise your products on our website please contact our dealers team on 01724 837288. We must be able to come view your products and confirm the product fits in with our dealer's policy before we can advertise the items on our website. 
If you are interested in becoming a part of our team as an employee or a volunteer, then please send us your CV with a valid phone number by email to <b> careers@megansantiques.com </b>and one of our careers team with get back to you as soon as possible.
</p>
</div>



<div class="contact">
<h3><b>Contact Us - Customers</b></h3>
<br>
<h4>
<b>Email:</b> customerscontact@megansantiques.com
<br><b>Tel:</b> 01724 837287</h4>
<br>
<h3><b>Contact Us - Dealers</b></h3>
<br>
<h4>
<b>Email:</b> dealerscontact@megansantiques.com
<br><b>Tel:</b> 01724 837288</h4>
<br>
<h3><b>Address</b></h3>
<br>
<h4>
Megan's Antiques Head Office & Distribution Centre
<br>1 Rowland Road
<br>Howden, Hull
<br>East Yorkshire
<br>HU15 ERF</h4>

</div>

<div class="delivery">


<h3><b>Delivery</b></h3>
<br>
<h4>
<b>Standard Delivery to Home</b> - Up to 5 Working Days (FREE delivery on orders over &#163;100, &#163;5 delivery on orders under &#163;100)  
<br><b>Express Delivery to Home</b> - When you order by 9pm weekdays or 5pm weekends. (&#163;6)
<br><b>Express Delivery to Store</b> - When you order by 9pm weekdays or 5pm weekends. (&#163;3)</h4>
</div>
</body>

{% endblock %}