<!-- extends base template -->
{% extends 'base.html' %}
<!-- to style webpage -->
{% load bootstrap_tags %}
{% load static from staticfiles %}
{% block content %}

<!-- home page image -->
<div class="row  cover">
    <!--- clock image - cover page -->
    <img src="static/images/homecover.jpg">
</div>



<!-- product buttons -->
<div class=" indexbuttons">
    <!-- all products -->
    <a type="button" class="btn btn-default button col-md-4 col-lg-1" href="{% url 'products' %}">All</a>
    <!-- art -->
    <a type="button" class="btn btn-default button col-md-4 col-lg-1" href="{% url 'art' %}">Art</a>
    <!-- cars -->
    <a type="button" class="btn btn-default button col-md-4 col-lg-1" href="{% url 'classiccars' %}">Cars</a>
    <!-- clocks -->
    <a type="button" class="btn btn-default button col-md-4 col-lg-1" href="{% url 'clocks' %}">Clocks</a>
    <!--- furniture -->
    <a type="button" class="btn btn-default button col-md-4 col-lg-1" href="{% url 'furniture' %}">Furniture</a>
    <!-- jewellery -->
    <a type="button" class="btn btn-default button col-md-4 col-lg-1" href="{% url 'jewellery' %}">Jewellery</a>
    <!-- toys -->
    <a type="button" class="btn btn-default button col-md-4 col-lg-1" href="{% url 'toys' %}">Toys</a>
</div>

<!-- end of template -->
{% endblock %}