{% extends 'base.html' %} {% load bootstrap_tags %} {% load static from staticfiles %} {% block content %}



<div class="row  cover">
    <img src="static/images/homecover.jpg">
</div>



<div class="container1">
    <div class="display">
        <form action="" method="get">
            <input type="text" name="q">
            <button type="submit" class="btn btn-default submitbutton">Search</button>
        </form>
    </div> 

</div>

<button type="button" class="btn btn-default button1"href="{% url 'products' %}">All Antiques</button>
<button type="button" class="btn btn-default button" href="{% url 'art' %}">Art</button>
<button type="button" class="btn btn-default button" href="{% url 'classiccars' %}">Classic Cars</button>
<button type="button" class="btn btn-default button" href="{% url 'clocks' %}">Clocks</button>
<button type="button" class="btn btn-default button" href="{% url 'furniture' %}">Furniture</button>
<button type="button" class="btn btn-default button" href="{% url 'jewellery' %}">Jewellery</button>
<button type="button" class="btn btn-default button" href="{% url 'toys' %}">Toys</button>



</div>






{% endblock %}