{% extends 'base.html' %}
{% load bootstrap_tags %}
{% load static from staticfiles %}

{% block content %}

<body>

<h2><b>TERMS & CONDITIONS</b></h2>


<h5>Welcome to the MEGAN'S ANTIQUES terms and conditions, which apply to all items ordered from this site. Please read through them carefully before
 placing your order. By using this website and/or placing an order you agree to be bound by the terms and conditions set out below. Please also read 
 our Privacy Policy regarding personal information provided by you.
We may change these terms and conditions from time to time without notice to you. Changes will apply to any subsequent orders received.
Once your order has been confirmed, we will not be able to make any changes to the terms that apply to that order.
Before placing an order, if you have any queries relating to these terms and conditions, please contact our Customer Services team 
(customer.care@megansantiques.com)</h5>



</body>