<!-- extends base template -->
{% extends 'base.html' %}
<!--- to style webpage -->
{% load bootstrap_tags %}
{% load static from staticfiles %}
{% block content %}

<body>
 <!-- terms and condition section -->
 <div class="col-12 col-s-12 terms">
  <!-- heading -->
  <h2><b>TERMS & CONDITIONS</b></h2>
 <!-- paragraph -->
  <h5>Welcome to the MEGAN'S ANTIQUES terms and conditions, which apply to all items ordered from this site. Please read through them carefully before placing your order. By using this website and/or placing an order you agree to be bound by the terms and
   conditions set out below. Please also read our Privacy Policy regarding personal information provided by you. We do our best to ensure that information on the site is complete, accurate and current. Despite our efforts, however, information on this
   site may occasionally be inaccurate, incomplete or out of date. All specification, products, descriptions and prices or products on the site are subject to change at any time without notice. We make all reasonable efforts to accurately display the
   attributes of our products, including the applicable colours. However, the actual you see will depend on your computer system, and we cannot guarantee that your computer will accurately display such colours. We do not warrant the accuracy or completeness
   of the information, content or materials provided through the site. The inclusion of any products or services on this site at a particular time does not imply or warrant that these products or services will be available at any time. We reserve the
   right to discontinue any product at any time. We may change these terms and conditions from time to time without notice to you. Changes will apply to any subsequent orders received. Once your order has been confirmed, we will not be able to make any
   changes to the terms that apply to that order. Before placing an order, if you have any queries relating to these terms and conditions, please contact our Customer Services team
   <!-- customer care email -->
   <b>(customer.care@megansantiques.com)</b>
   <br>
   <br>
   <!-- heading -->
   <br> If you have any questions about any part of the business or would like extra information, please feel free to contact us at <b>info@megansantiques.com</b></h5>
 </div>
 <!-- returns section -->
 <div class="col-12 col-s-12 boxed returns">
  <!-- heading -->
  <h2><b>RETURNS POLICY</b></h2>
 <!-- paragraph -->
  <h5>
   Please contact us at <b>returns@megansantiques.com </b>prior to sending any returns/exchanges back to us. All returns/exchanges must include any accessories, documentation, etc., that was originally shipped with the product. If your return/exchange
   includes batteries, please contact us for details on proper shipping procedures. Returns/exchanges may take up to 2 weeks to process, not including shipping times. You are responsible for return shipping charges that are not related to a defective
   product or product that was damaged during initial shipping to the customer. Returns 30 Day Return Policy – Unused Products Only Returns are only accepted within 30 days of the date of purchase. To be eligible for a return, your item must be unused
   and in the same condition that you received it. <br> It must also be in the original packaging.
   <br> To process your return, we require a receipt or proof of purchase. You will be responsible for shipping costs. If the product is received by us in unused and undamaged condition and in its original packaging, we will refund your purchase.
   <br> If you believe you have a defective product, please contact us at <b>customer.care@megansantiques.com</b>
   <br> Defective products may only be exchanged within 90 days of purchase. In order to process your exchange, we will need your order number, description of your setup (including photos if available), and any other information about your use of the
   product that may help us understand the potential defect.
   <br> In the event that a product is determined to be defective due to a manufacturer error or defective materials, we will repair or exchange the product as needed. If Megan’s Antiques determines that repair or replacement of a defective product is
   not practical, we will provide a refund.
   <br> Depending on where you live, the time it may take for your repaired/replacement product to reach you may vary.</h5>
 </div>

<!-- private policy section -->
 <div class="col-12 col-s-12 boxed private">
  <!-- heading -->
  <h2><b>PRIVATE POLICY</b></h2>
<!-- paragraph -->
   <h5>
   We are committed to maintaining the accuracy, confidentiality, and security of your personally identifiable information ("Personal Information"). As part of this commitment, our privacy policy governs our actions as they relate to the collection, use
   and disclosure of Personal Information. Our privacy policy is based upon the values set by the UK Standards Association's Model Code for the Protection of Personal Information and UK's Personal Information Protection and Electronic Documents Act.
   <br>
   <br>
   <b>1. Introduction</b>
   <br> We are responsible for maintaining and protecting the Personal Information under our control. We have designated an individual or individuals who is/are responsible for compliance with our privacy policy.
   <br>
   <b>2. Identifying Purposes</b>
   <br> We collect, use and disclose Personal Information to provide you with the product or service you have requested and to offer you additional products and services we believe you might be interested in. The purposes for which we collect Personal
   Information will be identified before or at the time we collect the information. In certain circumstances, the purposes for which information is collected may be clear, and consent may be implied, such as where your name, address and payment information
   is provided as part of the order process.
   <br>
   <b>3. Consent</b>
   <br> Knowledge and consent are required for the collection, use or disclosure of Personal Information except where required or permitted by law. Providing us with your Personal Information is always your choice. However, your decision not to provide
   certain information may limit our ability to provide you with our products or services. We will not require you to consent to the collection, use, or disclosure of information as a condition to the supply of a product or service, except as required
   to be able to supply the product or service.
   <br>
   <b>4. Limiting Collection</b>
   <br> The Personal Information collected will be limited to those details necessary for the purposes identified by us. With your consent, we may collect Personal Information from you in person, over the telephone or by corresponding with you via mail,
   facsimile, or the Internet.
   <br>
   <b>5. Limiting Use, Disclosure and Retention</b>
   <br> Personal Information may only be used or disclosed for the purpose for which it was collected unless you have otherwise consented, or when it is required or permitted by law. Personal Information will only be retained for the period of time required
   to fulfill the purpose for which we collected it or as may be required by law. [If applicable, include a description of any parties with whom you may share Personal Information.]
   <br>
   <b>6. Accuracy</b>
   <br> Personal Information will be maintained in as accurate, complete and up-to-date form as is necessary to fulfill the purposes for which it is to be used.
   <br>
   <b>7. Safeguarding Customer Information</b>
   <br> Personal Information will be protected by security safeguards that are appropriate to the sensitivity level of the information. We take all reasonable precautions to protect your Personal Information from any loss or unauthorized use, access or
   disclosure.
   <br>
   <b>8. Openness</b>
   <br> We will make information available to you about our policies and practices with respect to the management of your Personal Information.
   <br>
   <b>9. Customer Access</b>
   <br> Upon request, you will be informed of the existence, use and disclosure of your Personal Information, and will be given access to it. You may verify the accuracy and completeness of your Personal Information, and may request that it be amended,
   if appropriate. However, in certain circumstances permitted by law, we will not disclose certain information to you. For example, we may not disclose information relating to you if other individuals are referenced or if there are legal, security or
   commercial proprietary restrictions.
   <br>
   <b>10. Handling Customer Complaints and Suggestions </b>
   <br> You may direct any questions or enquiries with respect to our privacy policy or our practices by contacting: <b> customer.care@megansantiques.com </b>
    <!-- cookies section -->
   <br><br>
   <b>Cookies</b>
   <br><br> A cookie is a small computer file or piece of information that may be stored in your computer's hard drive when you visit our websites. We may use cookies to improve our website’s functionality and in some cases, to provide visitors with a
   customized online experience. Cookies are widely used and most web browsers are configured initially to accept cookies automatically. You may change your Internet browser settings to prevent your computer from accepting cookies or to notify you when
   you receive a cookie so that you may decline its acceptance. Please note, however, if you disable cookies, you may not experience optimal performance of our website.
   </h5>
   </div>
</body>

<!-- end of template -->
{% endblock %}