{% extends 'base.html' %}
{% load bootstrap_tags %}
{% load static from staticfiles %}
{% block content %}


<div class="wrapper">
<div class="container-fluid">
<div class="row ">
    

{% for product in products %}



  <div class="col-6">
    
    <div class="thumbnail">
    <!---<img class="materialboxed imgurl" width="50%" border="5" float="right" src="{{ product.image }}" style="margin-bottom: 20px;" alt="..."> --->
    <div style="width: 100%; height: 300px; background-color: white;"></div>
      
    
      <div class="caption">
        <h4>{{ product.name }}</h4>
        <p>{{ product.description }}<span style="visibility:hidden"></span></p>
        <h4>£{{ product.price }}</h4>
        <p><a href="{% url 'checkout' %}" class="btn btn-primary button" role="button">Checkout</a> <a method="post" action="{% url 'add_to_cart' product.id %}" class="btn btn-default button" role="button">Add To Cart</a></p>
      </div>
    </div>
  </div>
  
  
 <!--<form method="post" action="{% url 'add_to_cart' product.id %}">-->
 <!--               {% csrf_token %}-->
 <!--               <div class="input-group">-->
 <!--                   <input name='quantity' type="number" min="1" max="999" class="form-control" placeholder="Quantity">-->
 <!--                   <span class="input-group-btn">-->
 <!--                           <button class="btn btn-success" type="submit">Add</button>-->
 <!--                         </span>-->
 <!--               </div>-->
                <!-- /input-group -->


{% endfor %} 

</div>
  </div></div>
{% endblock %}