{% extends 'base.html' %}
{% load bootstrap_tags %}
{% load static from staticfiles %}
{% block content %}
<div class="row headingtxt">
    <h2><b>{% if product.name %}{{ product.name }} {% else %}All {% endif %}Products</b></h2>
</div>
{% for product in products %}
<body class= "page-id-2">

<div class="row products">
  <div class="col-sm-3 col-sm-3">
    <div class="thumbnail">
      <img class="materialboxed imgurl" width="200" border="5" float="right" src="{{ product.image }}" style="margin-bottom: 20px;" alt="...">
      <div class="caption">
        <h4>{{ product.name }}</h4>
        <p>{{ product.description }}</p>
        <h4>£{{ product.price }}</h4>
        <p><a href="#" class="btn btn-primary button" role="button">Buy</a> <a href="/singleproducts" class="btn btn-default button" role="button">Bid</a></p>
      </div>
    </div>
  </div>
    <div class="col-sm-3 col-sm-3">
    <div class="thumbnail">
      <img class="materialboxed imgurl" width="200" border="5" float="right" src="{{ product.image }}" style="margin-bottom: 20px;" alt="...">
      <div class="caption">
        <h4>{{ product.name }}</h4>
        <p>{{ product.description }}</p>
        <h4>£{{ product.price }}</h4>
        <p><a href="#" class="btn btn-primary button" role="button">Checkout</a> <a href="#" class="btn btn-default button" role="button">Add to Cart</a></p>
      </div>
    </div>
  </div>
</div>
</body>


{% endfor %}
{% endblock %}