body {
    background-color: #dbc084;
    color: #c97a20;
}
.footer{
    background-color: #b1a296;
    color: #113773; /*dark blue*/
}

nav{
    background-color: #b1a296;
    color: #113773; /*dark blue*/
}

.button {
  background-color: #c97a20; /*dark blue*/
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button1 {
  background-color: #113773; /*dark blue*/
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 30%;
}


.cover {
   width: 100%;
   height:75%;
   overflow: hidden;
}
.cover > img {
   width: 100%;
}

/* social media icons */

.fa-twitter {
    margin-left: 5px;
    color: white;
    float: right;
    font-size: 20px;
}

.fa-instagram {
    color: white;
    float: right;
    margin-left: 5px;
    font-size: 20px;
}

.fa-facebook {
    float: right;
    color: white;
    font-size: 20px;
    margin-left: 5px;
}