{% extends "base.html" %} {% load static from staticfiles %} {% load bootstrap_tags %} {% block head_js %}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
    //<![CDATA[
    Stripe.publishableKey = '{{ publishable }}';
    //]]>
</script>
<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock %} {% block content %} {{ cart }} {{ cart_items }}



<div class="container-fluid cartitems">
    <div class="row row-flex">
        <legend class="checkouttitle"><br />
            <bold>Cart Items</bold><br /></legend>
        <div>&nbsp;</div>
        {% for item in cart_items %}
        <div class="col-xs-12 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-default">
            <div class="panel-body">
                <div class="product" style="background-image: url('{{ MEDIA_URL }}{{ item.product.image }}')"></div>
                <div class="caption">
                    <h6>{{ item.product.name }}</h6>
                    <p>{{ item.quantity }}</p>
                    <p>£{{ item.product.price }}</p>
                    <br />
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="row totalcheckout">
            <h3> Total &nbsp; </h3>
            <h3><span aria-hidden="true"></span>£ {{ total }}</h3>
        </div>
    </div>
</div>





<div class="container-fluid checkoutform">

    <form role="form" method="post" id="payment-form" action="{% url 'checkout' %}">
        <legend class="checkouttitle"><br />
            <bold>Payment Details</bold><br /></legend>
        <div id="credit-card-errors" style="display:none">
            <div class="alert-message block-message error" id="stripe-error-message"></div>
        </div>
        <div class="form-group col-md-10">
            {{ order_form|as_bootstrap }}
        </div>

        <div class="form-group col-md-10">
            {{ payment_form|as_bootstrap }}
        </div>

        {% csrf_token %}
        <div class="form-group col-md-10">
            <input class="btn btn-primary submit_payment_btn" id="submit_payment_btn" name="commit" type="submit" value="Submit Payment">

        </div>
    </form>
    </div>
</div>

{% endblock %}