<!-- extends base template -->
{% extends "base.html" %}
<!-- to style webpage -->
{% load bootstrap_tags %}
{% load static from staticfiles %}
<!-- content of webpage -->
{% block content %}
<!-- login form -->
<div class="login2">
    <div class="loginform">
        <!-- form -->
        <form method="post" action="{% url 'login' %}?next={{ next }}" class="accountform">
            <fieldset class="form-group">
                <!-- legend -->
                <legend>Login</legend>
                {% if next %}
                <!-- sign up now button -->
                <p>No account? <a href="{% url 'register' %}?next={{ next }}">Sign up</a> now.</p>
                {% else %}
                <p>No account? <a href="{% url 'register' %}">Sign up</a> now.</p>
                {% endif %}
                <br> {% csrf_token %} {{ user_form | as_bootstrap }}
                <!-- reset password button -->
                <p><a href="{% url 'password_reset' %}">Forgot my password</a></p>
                <!-- login button in form -->
                <button type="submit" class="btn btn-default button btn-login">Login</button>
            </fieldset>
        </form>
    </div>
</div>
<!-- end of template -->
{% endblock %}