{% extends "base.html" %}
{% load bootstrap_tags %}
{% load static from staticfiles %}
{% block content %}
<div class="profileform">

  <h2><b>Your Profile</b></h2>



  <form>
    <div class="form-group row">
      <label for="staticName" class="col-sm-2 col-form-label"><b>Name</b></label>
      <div class="col-sm-6">
        <input type="text" readonly class="form-control-plaintext" id="staticEmail" style="color:white;" value={{ user.username }}>
      </div>
      
    </div>
    <div class="form-group row">
      <label for="staticEmail" class="col-sm-2 col-form-label"><b>Email</b></label>
      <div class="col-sm-6">
        <input type="text" readonly class="form-control-plaintext" id="staticEmail" style="color:white;" value={{ user.email }}>
      </div>
    </div>
    <div class="form-group row">
      <label for="inputPassword" class="col-sm-2 col-form-label"><b>Password</b></label>
      <div class="col-sm-6">
        <input type="text" readonly class="form-control-plaintext" id="staticPassword" style="color:white;" value={{ user.password }}>
      </div>
      
    </div>
  </form>
</div>
</div>

<div class="row">
  <p><a href="{% url 'checkout' %}" class="btn btn-primary profilebuttons1 col-md-4" role="button">Checkout</a> <a href="{% url 'view_cart' %}" class="btn btn-default profilebuttons2 col-md-4" role="button">Cart</a></p>
</div>
</div>
{% endblock %}