{% extends 'base.html' %} {% load static from staticfiles %} {% load bootstrap_tags %} {% block content %}
<body style="background-color: #5e4c46;"></body>
<div class=" cartpage">
    <div class="row row-flex">
        {% for item in cart_items %}



         
       
        <div class="product" style="background-image: url('{{ MEDIA_URL }}{{ item.product.image }}')"></div>

        <div class="caption">
            <h4>{{ item.product.name }}</h4>
            <p class="product-description">{{ item.product.description }}</p>

            <p>
                <div class="input-group-addon"><b>Price:</b> &nbsp; £{{ item.product.price }}</p>
            </div>

            <form class="form-inline" method="post" action="{% url 'adjust_cart' item.id %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="exampleInputAmount" class="sr-only">New Qty</label>
                    <div class="input-group">
                        <div class="input-group-addon"><b>Qty:</b> &nbsp; </div>

                        <div class="">{{item.quantity}}</div>
                    </div>
                </div>

            </form>
            </p>
        </div>
    </div>
    {% endfor %}
</div>
<div class="row">
    <p>Total</p>
    <p><span class="glyphicon glyphicon-euro" aria-hidden="true"></span>{{ total }}</p>
    <a href="{% url 'checkout' %}" class="btn btn-primary checkout_btn" role="button"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>Checkout</a>
</div>



{% endblock %}