{% load bootstrap_tags %}
{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Antique Auction</title>
    
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">    
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">



</head>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">




<body>
        <!-- Dropdown Structure -->

<nav class="navbar navbar-expand-lg ">
  <a class="navbar-brand" href="{% url 'index' %}">Megan's Antiques</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About Us</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Shop
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="products/all_antiques">All Antiques</a>
          <a class="dropdown-item" href="products/art">Art</a>
          <a class="dropdown-item" href="products/classic_cars">Classic Cars</a>
          <a class="dropdown-item" href="products/clocks">Clocks</a>
          <a class="dropdown-item" href="products/furniture">Furniture</a>
          <a class="dropdown-item" href="products/jewellery">Jewellery</a>
          <a class="dropdown-item" href="products/toys">Toys</a>
        </div>
      </li>
    </ul>
               
                     <ul class="navbar-nav mr-0">
                   {% if user.is_authenticated %}
                       <li class="nav-item">
                         <a class="nav-link" href="/profiles"></i>Profile</a></li>
                       <li class="nav-item">
                         <a href="/login"></i> Log Out</a></li>
                   {%  else %}
                       <li class="nav-item">
                         <a class="nav-link" href="/register"></i>Register</a></li>
                       <li class="nav-item">
                         <a class="nav-link" href="/login"></i>Log In</a></li>
                   {% endif %}
                   <li class="nav-item">
                       <a class="nav-link" href="/cart">
                           Cart
                           {% if product_count > 0 %}
                           {% endif %}
                       </a>
                   </li>
               </ul>
  </div>
</nav> 

    
    {% block content %}
    
    
    {% endblock %}
 
<!-- Footer -->
<footer class="page-footer font-small pt-4">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase">Contact</h5>
        <h6><b>Customers Email:</b> customerscontact@megansantiques.com<br>
            <b>Customers Tel:</b> 01724 837287
            <br><br>
            <b>Dealers Email:</b> dealerscontact@megansantiques.com<br>
            <b>Dealers Tel:</b> 01724 837288
            <br><br>
            <b>Address</b>
            <br>
            Megan's Antiques Head Office & Distribution Centre<br>
            1 Rowland Road<br>
            Howden, Hull<br>
            East Yorkshire<br>
            HU15 ERF</h6>
            <a href="" class="fa fa-facebook"></a>
            <a href="" class="fa fa-twitter"></a>
            <a href="" class="fa fa-instagram"></a>


      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3 footer">

        <!-- Links -->
        <h5 class="text-uppercase">Company</h5>

        <ul class="list-unstyled">
          <li>
            <a href="/about">About Us</a>
          </li>
          <li>
            <a href="/reviews">Reviews</a>
          </li>
          <li>
            <a href="/terms">Terms of Use</a>
          </li>
          <li>
            <a href="/support">Support</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Shop</h5>

        <ul class="list-unstyled">
          <li>
            <a href="products/art">Art</a>
          </li>
          <li>
            <a href="products/classic_cars">Classic Cars</a>
          </li>
            <li>
            <a href="products/clocks">Clocks</a>
          </li>
          <li>
            <a href="products/funiture">Furniture</a>
          </li>
          <li>
            <a href="products/jewellery">Jewellery</a>
          </li>
          <li>
            <a href="products/toys">Toys</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright: Megan's Online Antique's Auction
    
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
    
    <script>

  $(document).ready(function(){
    $('.sidenav').sidenav();
  });
  </script>
  
</body>
</html>