{% load bootstrap_tags %} {% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Antique Auction</title>

  <!--<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">-->
  <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">-->


  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/6589f049ab.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css"> {% block head_js %} {% endblock %}

</head>



<body>
  <!-- Dropdown Structure -->

  <nav class="navbar navbar-expand-lg nav ">
    <a class="navbar-brand" href="{% url 'index' %}">Megan's Antiques</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About Us</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Shop
        </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'products' %}">All Antiques</a>
            <a class="dropdown-item" href="{% url 'art' %}">Art</a>
            <a class="dropdown-item" href="{% url 'classiccars' %}">Classic Cars</a>
            <a class="dropdown-item" href="{% url 'clocks' %}">Clocks</a>
            <a class="dropdown-item" href="{% url 'furniture' %}">Furniture</a>
            <a class="dropdown-item" href="{% url 'jewellery' %}">Jewellery</a>
            <a class="dropdown-item" href="{% url 'toys' %}">Toys</a>
          </div>
        </li>
      </ul>

      <ul class="navbar-nav mr-0">
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link " href="{% url 'profile' %}"><i class="fas fa-user"></i></a></li>
        <li class="nav-item">
          <a href="/login"><i class="fas fa-sign-in-alt"></i></a></li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="/register"><i class="fas fa-user-plus"></i></li>
        <li class="nav-item">
          <a class="nav-link" href="/login"><i class="fas fa-sign-out-alt"></i></a></li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'view_cart' %}"><i class="fas fa-shopping-cart"></i>
                           {% if product_count > 0 %}
                           {% endif %}
                       </a>
        </li>
      </ul>
    </div>
  </nav>
  <!-- <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom">
  Tooltip on bottom
</button> --->

  {% block content %} {% endblock %}

  <!-- Footer -->
  <footer class="page-footer font-small pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">

          <!-- Content -->
          <h5 class="text-uppercase">Contact</h5>
          <h6><b>Customers Email:</b> customers@megansantiques.com<br>
            <b>Customers Tel:</b> 01724 837287
            <br><br>
            <b>Dealers Email:</b> dealers@megansantiques.com<br>
            <b>Dealers Tel:</b> 01724 837288
            <br><br>
            <b>Address</b>
            <br> Megan's Antiques<br> Head Office & Distribution Centre<br> 1 Rowland Road<br> Howden, Hull<br> East Yorkshire<br> HU15 ERF</h6>
          <a href="https://www.facebook.com/" class="fab fa-facebook"></a>
          <a href="https://www.instagram.com/?hl=en" class="fab fa-instagram"></a>
          <a href="https://twitter.com/?lang=en-gb" class="fab fa-twitter"></a>


        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3 footer">

          <!-- Links -->
          <h5 class="text-uppercase">Company</h5>

          <ul class="list-unstyled">
            <li>
              <a href="/about">About Us</a>
            </li>
            <li>
              <a href="/reviews">Reviews</a>
            </li>
            <li>
              <a href="/terms">Terms of Use</a>
            </li>
            <li>
              <a href="/support">Support</a>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

          <!-- Links -->
          <h5 class="text-uppercase">Shop</h5>

          <ul class="list-unstyled">
            <li>
              <a href="{% url 'art' %}">Art</a>
            </li>
            <li>
              <a href="{% url 'classiccars' %}">Classic Cars</a>
            </li>
            <li>
              <a href="{% url 'clocks' %}">Clocks</a>
            </li>
            <li>
              <a href="{% url 'furniture' %}">Furniture</a>
            </li>
            <li>
              <a href="{% url 'jewellery' %}">Jewellery</a>
            </li>
            <li>
              <a href="{% url 'toys' %}">Toys</a>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright: Megan's Online Antique's Auction

    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->

  <script>
    $(document).ready(function() {
      $('.sidenav').sidenav();
      $('[data-toggle="tooltip"]').tooltip()
    });
    
  </script>

</body>

</html>